<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300;500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Datos de Canciones</title>
    <style>
        body {
            font-family: Poppins, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            text-align: center;
            padding: 40px;
        }

        h1 {
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        li {
            background-color: #fff;
            margin-bottom: 20px;
            border-radius: 5px;
            margin-right: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            flex: 0 1 calc(33.33% - 20px); /* Tamaño de cada columna */
        }

        form {
            margin-top: 20px;
        }

        button {
            background-color: black;
            font-family: Poppins, sans-serif;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #9FC7AA;
        }
        .song-info {
            margin: 10px;
            padding-right: 4px;
        }

        .song-info p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Datos de Canciones</h1>
        <form action="/" method="GET">
            <button type="submit">Agregar otra canción</button>
        </form>
    </div>
    <ul class="song-container">
        <% canciones.forEach(function(cancion) { %>
            <li>
                <div class="song-info">
                    <p>Título: <%= cancion.titulo %></p>
                    <p>Artista: <%= cancion.artista %></p>
                    <p>Género: <%= cancion.genero %></p>
                    <p>Año: <%= cancion.anio %></p>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>
